<h1><%= @place["name"] %></h1>

<% if session["user_id"].present? %>
  <h2>My Entries (<%= @entries.count %>) </h2>  
  
  <a href="/entries/new?place_id=<%= @place["id"] %>"><button>Add a New Entry</button></a>
  <a href="/places"><button>Back to All Places</button></a>
  <br>  
    ----------------------------------
  <% for entry in @entries %>
    <h3><%= entry["title"] %></h3>
    <h4><%= entry["occurred_on"] %></h4>
    <p><%= entry["description"] %></p>
    ----------------------------------
  <% end %>

<% else %>
  Please log in to view your entries
<% end %>