<!DOCTYPE html>
<html>
  <head>
    <title>Zulu's Web App!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/stylesheets/application.css">
 
  </head>

  <body>
    <div>
      <a href="/">Home</a>
       |

      <!--check if anyone is logged in: -->
      <% @user = User.find_by({ "id" => session["user_id"] }) %>

      <!--if no one is logged in, show sign up and login options:-->
      <% if @user == nil %>  
        <a href="/login">Login</a>
        | 
        <a href="/users/new">Signup</a>
      
      <!--if user IS logged in, show users username and logout option-->
      <% else %>
        Logged in username: <%= @user["username"] %>
        |
        <a href="/logout">Logout</a>
      <% end %> 
    
    </div>

    <p>
      <%= flash["notice"] %>
    </p>

    <%= yield %>
  </body>
</html>